.modernHeader {
  justify-content: center;
  text-align: center;

}

.headingSecondary {
  margin-bottom: 8px;

  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: 2px;
  color: #0057FC;
}